/* Webkit shadow */

@-webkit-keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
              box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
              box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }


/* Logo y barra del menú */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;


}

#logo-radio{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100px;
    
}

#img-logo {
    border-radius: 50px;
}

#quality {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    height: 250px;
    padding-top: 50px;
    
}

body{
    background-color: rgb(14, 13, 13);
    font-family: Arial;
    width: auto;
    height: auto;
}

#logo {
    text-align: center;
    color: white;
    text-decoration: double;
    text-decoration-color: black;
    font-family: Arial;
    
}

#barra {
    height: 55px;
    background-color:#26272e;
    display: flex;
    justify-content: center;
    text-align: center;


    

}

#barra ul {
    list-style: none;
    display: inline-block;
    padding:5px;
}

#barra ul li{
    position: relative;
    float: left;
    margin-top: 10px;
    
}

#barra ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    

}

#barra ul li a:hover{
    background-color: #18191b;
}

/*Descripción y textos */

#textogen {
    text-align: center;
    color: white;
    line-height: 165%;
    font-family: Arial;
    margin: 20px;
    padding: 90px;
    
}

#textodesc {
    text-align: center;
    color: white;
    line-height: 165%;
    font-family: Arial;
    font-size: 110%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    
}

#textoprodu {
    color: white;
    line-height: 250%;
    text-align: center;
}


/*Contactenos*/

#Telefonos {
    display: flex;
    justify-content: center;
}

#textoconta {
    text-align: center;
    color: white;
    font-size: 13px;
}

#whatsapp {

    max-height: 30px;
    width: 30px;
}




/*Clientes*/

#clientes {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
}

#clienteima {
    border-radius: 50%;
}

#textocliente {
    margin-top: -100px;
    padding: 50px;
    padding-left: 130px;
    color: white;
}



/*otros*/


#precios {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    margin: 150px;
    line-height: 165%;
    color: white;
}

/*boton-arriba*/


#boton-arriba {
    font-size: 20px;
    font-family: Arial;
    font-weight: bolder;

}

.ir-arriba {
	display:none;
	padding:20px;
	background:#04252c;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}



/*Precios index4.html */

#text-price {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    margin: 40px;
    color: white;
    font-family: Arial;
    font-size: 110%;
}

#price-software {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

#button-software a {
    display: flex;
    justify-content: center;
    background-color: #26272e;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    width: 250px;

    



}

#button-software :hover {

    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* WhatsApp me */

#whatsapp-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

#button-whatsapp a {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #26272e;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 40px;
 


}

#button-whatsapp :hover {
    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


/* Menu responsivo */

#menu-bar {
    display:none;

}

#label-font {

    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 28px;
    position: relative;
    float: left;
}

header label{
    cursor:pointer;
    display:none;
}

@media(max-width:991px){
    #barra {
        height:100px;
    }

    #producto {
        max-height: 250px;
        width: 250px;
    }

    #aplications {
        max-height: 200px;
        min-height: 200px;
        width: 200px;
        
    }

    #market-appstore {
        height: 200px;
        padding-top: 30px;
        
    }

    #textogen {
        padding-bottom: 90px;
        
    }

    /*ODIN-Responsive*/

    #oil-odin {
        max-height: 100px;
        max-width: 50px;

    }
}

@media(max-height:576px){
    #producto {
        max-height: 200px;
        width: 200px;
    }    

    #aplications {
        max-height: 200px;
        min-height: 200px;
        width: 200px;
        
    }
}


/* Market Appstore */

#market-appstore {
    background-image: url(img/fondomarket.png);
    background-size: cover;
    height: 250px;
    padding-top: 50px;
    
}




/* Apps */

#app-image {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 70px;
    margin: 20px;
    padding: 90px;
    flex-direction: row;
}
  
#image-app {
    
    height: 50vh;
    min-width: 35vh;
}

#aplications {
    border-radius: 20px;
    max-height: 250px;
    min-height: 250px;
    width: 250px;
    min-width: 250px;
    object-fit: cover;
    vertical-align: bottom;
}

/* Apps links */

#button-apps a {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #26272e;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    width: 250px;



}

#button-apps :hover {

    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


/*ODIN*/


#class-odin {
    background-color: #0f1011;
    background-size: cover;
    height: 250px;
    padding-top: 50px;
    
}

#odin-image {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 400px;
    margin: 20px;
    padding: 90px;
    flex-direction: row;
}

#image-oil {
    
    height: 50vh;
    min-width: 35vh;
}

#oil-odin {
    border-radius: 20px;
    max-height: 400px;
    min-height: 400px;
    max-width: 300px;
    min-width: 300px;
    object-fit: cover;
    vertical-align: bottom;
}

#odin-text {
    color: white;
    line-height: 250%;
    text-align: center;
    width: 300px;
}
